In [2]:
import pandas as pd
df1 = pd.read_csv("banking_financial_data.csv")
df1

,Transaction_ID,Account_ID,Customer_ID,Transaction_Date,Transaction_Type,Amount,Account_Balance_After,Account_Type,Channel,City,Customer_Age,Account_Age_Days,Is_Fraud,Credit_Score,Monthly_Income,Risk_Score,Previous_Default
0,TXN-00000001,ACC-13231,CUST-40128,12/20/2024,Withdrawal,1884.48,17101.23,Investment,Phone Banking,San Jose,26,2822,False,441,6318,70.9,False
1,TXN-00000002,ACC-59627,CUST-39507,4/21/2025,Deposit,4804.63,48075.68,Loan,Phone Banking,Chicago,31,2873,False,345,14869,3.4,False
2,TXN-00000003,ACC-44580,CUST-48257,1/31/2025,Withdrawal,629.86,17251.95,Investment,Mobile App,San Antonio,29,580,False,701,7792,13.1,False
3,TXN-00000004,ACC-59327,CUST-44773,8/16/2025,Interest,28.15,44027.73,Savings,ATM,San Antonio,71,3021,False,698,11658,1.3,True
4,TXN-00000005,ACC-30526,CUST-32337,1/23/2025,Interest,28.10,34156.74,Credit Card,Branch,San Jose,30,1585,False,317,2651,37.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40997,NaN,ACC-16433,CUST-05250,2/27/2025,Refund,309.72,49902.91,Checking,ATM,Philadelphia,31,2865,False,745,4899,96.9,False
40998,NaN,ACC-98462,CUST-06304,5/11/2025,Transfer,1424.86,43066.73,Credit Card,ATM,New York,37,401,False,555,9880,13.8,False
40999,NaN,ACC-30555,CUST-46330,4/3/2024,Withdrawal,522.66,15455.80,Loan,Online Banking,Chicago,78,3098,False,373,7797,44.1,False
41000,NaN,ACC-17398,CUST-36793,11/10/2023,Fee,16.39,16452.50,Savings,Phone Banking,Austin,43,269,False,626,3073,47.4,False
41001,NaN,ACC-79249,CUST-17372,10/4/2024,Interest,87.26,71396.58,Loan,Online Banking,New York,37,175,False,605,3882,28.0,False

In [3]:
df1.shape

(41002, 17)

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41002 entries, 0 to 41001
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Transaction_ID         40000 non-null  object
 1   Account_ID             41002 non-null  object
 2   Customer_ID            41002 non-null  object
 3   Transaction_Date       41002 non-null  object
 4   Transaction_Type       41002 non-null  object
 5   Amount                 41002 non-null  float64
 6   Account_Balance_After  41002 non-null  float64
 7   Account_Type           41002 non-null  object
 8   Channel                41002 non-null  object
 9   City                   41002 non-null  object
 10  Customer_Age           41002 non-null  int64
 11  Account_Age_Days       41002 non-null  int64
 12  Is_Fraud               41002 non-null  bool
 13  Credit_Score           41002 non-null  int64
 14  Monthly_Income         41002 non-null  int64
 15  Risk_Score             41002 non-null  float64
 16  Previous_Default       41002 non-null  bool
dtypes: bool(2), float64(3), int64(4), object(8)
memory usage: 4.8+ MB

In [5]:
df1.head(1)

,Transaction_ID,Account_ID,Customer_ID,Transaction_Date,Transaction_Type,Amount,Account_Balance_After,Account_Type,Channel,City,Customer_Age,Account_Age_Days,Is_Fraud,Credit_Score,Monthly_Income,Risk_Score,Previous_Default
0,TXN-00000001,ACC-13231,CUST-40128,12/20/2024,Withdrawal,1884.48,17101.23,Investment,Phone Banking,San Jose,26,2822,False,441,6318,70.9,False

In [6]:
df1.describe()

,Amount,Account_Balance_After,Customer_Age,Account_Age_Days,Credit_Score,Monthly_Income,Risk_Score
count,41002.000000,41002.000000,41002.000000,41002.000000,41002.000000,41002.000000,41002.000000
mean,1198.084845,33482.186048,48.379469,1831.805961,574.868250,8494.008658,49.727804
std,1346.983755,19685.984107,17.967082,1043.581746,158.886732,3741.533780,28.950524
min,1.010000,53.300000,18.000000,30.000000,300.000000,2000.000000,0.000000
25%,62.922500,16692.047500,33.000000,928.000000,437.000000,5262.250000,24.525000
50%,510.690000,33093.975000,48.000000,1833.000000,574.000000,8488.500000,49.600000
75%,2115.347500,49667.227500,64.000000,2732.750000,713.000000,11704.000000,74.800000
max,4999.540000,74994.220000,79.000000,3649.000000,849.000000,15000.000000,100.000000

In [7]:
df1.isnull().sum()

Transaction_ID           1002
Account_ID                  0
Customer_ID                 0
Transaction_Date            0
Transaction_Type            0
Amount                      0
Account_Balance_After       0
Account_Type                0
Channel                     0
City                        0
Customer_Age                0
Account_Age_Days            0
Is_Fraud                    0
Credit_Score                0
Monthly_Income              0
Risk_Score                  0
Previous_Default            0
dtype: int64

In [8]:
df1.duplicated().sum()

np.int64(0)

In [9]:
df1.notnull().sum()

Transaction_ID           40000
Account_ID               41002
Customer_ID              41002
Transaction_Date         41002
Transaction_Type         41002
Amount                   41002
Account_Balance_After    41002
Account_Type             41002
Channel                  41002
City                     41002
Customer_Age             41002
Account_Age_Days         41002
Is_Fraud                 41002
Credit_Score             41002
Monthly_Income           41002
Risk_Score               41002
Previous_Default         41002
dtype: int64

In [10]:
df1.duplicated().sum()

np.int64(0)

In [11]:
df1 = df1.dropna()
df1.isnull().sum()

Transaction_ID           0
Account_ID               0
Customer_ID              0
Transaction_Date         0
Transaction_Type         0
Amount                   0
Account_Balance_After    0
Account_Type             0
Channel                  0
City                     0
Customer_Age             0
Account_Age_Days         0
Is_Fraud                 0
Credit_Score             0
Monthly_Income           0
Risk_Score               0
Previous_Default         0
dtype: int64

In [12]:
df2 = pd.read_csv("customer_demographics_data.csv")
df2

,Customer_ID,Industry,Customer_Segment,Customer_Status,Country,Age,Annual_Income,Total_Spent,Number_of_Orders,Customer_Lifetime_Value,Acquisition_Source,Marketing_Emails_Opened,Website_Sessions,Mobile_App_User,Newsletter_Subscriber,Referral_Count,Churn_Risk_Score,Net_Promoter_Score
0,CUST-000001,Healthcare,Basic,Active,Australia,51,119797.0,946.22,49,1333.15,Referral,24,35,False,True,3,96.3,5
1,CUST-000002,Finance,Standard,Active,UK,54,198133.0,3430.14,40,4556.97,Website,21,129,False,True,6,61.3,8
2,CUST-000003,Manufacturing,Basic,Inactive,Canada,69,165596.0,777.68,9,1102.54,Social Media,98,56,True,True,2,17.3,3
3,CUST-000004,Retail,Enterprise,Active,UK,38,105155.0,8114.65,35,21694.22,TV Ad,1,120,True,False,9,76.0,2
4,CUST-000005,Manufacturing,Standard,Inactive,Germany,56,64097.0,7480.55,31,9497.48,TV Ad,96,184,False,False,3,37.1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,CUST-024996,Technology,Premium,Inactive,France,29,156764.0,9656.66,23,22699.33,TV Ad,38,189,True,False,8,14.2,9
24996,CUST-024997,Finance,Premium,Active,Canada,30,45181.0,19555.07,15,43834.89,TV Ad,84,104,True,False,4,74.8,7
24997,CUST-024998,Retail,Enterprise,Active,USA,46,148615.0,25278.25,6,35845.32,Email Campaign,70,46,True,True,11,83.7,0
24998,CUST-024999,Manufacturing,Standard,Active,Canada,54,82149.0,3317.34,42,9773.14,Social Media,80,177,True,False,6,21.6,8
24999,CUST-025000,Education,SMB,Active,France,51,173694.0,14585.79,16,19173.97,TV Ad,17,53,False,False,11,13.8,0

In [13]:
df2.shape

(25000, 18)

In [14]:
df2.describe()

,Age,Annual_Income,Total_Spent,Number_of_Orders,Customer_Lifetime_Value,Marketing_Emails_Opened,Website_Sessions,Referral_Count,Churn_Risk_Score,Net_Promoter_Score
count,25000.000000,24951.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000
mean,46.994600,114825.462707,11273.105794,24.387400,20510.945890,49.550440,99.625440,6.968520,49.572304,4.477960
std,13.012793,48995.241821,13682.613151,14.409873,23578.149822,28.863484,57.237208,4.306705,28.854493,2.882847
min,25.000000,30004.000000,32.350000,0.000000,100.170000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,36.000000,72621.000000,1488.075000,12.000000,2884.025000,25.000000,50.000000,3.000000,24.500000,2.000000
50%,47.000000,114595.000000,5829.780000,24.000000,10613.435000,49.000000,100.000000,7.000000,49.400000,4.000000
75%,58.000000,156860.500000,15590.710000,37.000000,29064.427500,75.000000,149.000000,11.000000,74.300000,7.000000
max,69.000000,199987.000000,78487.580000,49.000000,99899.330000,99.000000,199.000000,14.000000,100.000000,9.000000

In [15]:
df2.isnull().sum()

Customer_ID                 0
Industry                    0
Customer_Segment            0
Customer_Status             0
Country                     0
Age                         0
Annual_Income              49
Total_Spent                 0
Number_of_Orders            0
Customer_Lifetime_Value     0
Acquisition_Source          0
Marketing_Emails_Opened     0
Website_Sessions            0
Mobile_App_User             0
Newsletter_Subscriber       0
Referral_Count              0
Churn_Risk_Score            0
Net_Promoter_Score          0
dtype: int64

In [18]:
df2['Annual_Income'] = df2['Annual_Income'].fillna(df2['Annual_Income'].mean())
df2.isnull().sum()

Customer_ID                0
Industry                   0
Customer_Segment           0
Customer_Status            0
Country                    0
Age                        0
Annual_Income              0
Total_Spent                0
Number_of_Orders           0
Customer_Lifetime_Value    0
Acquisition_Source         0
Marketing_Emails_Opened    0
Website_Sessions           0
Mobile_App_User            0
Newsletter_Subscriber      0
Referral_Count             0
Churn_Risk_Score           0
Net_Promoter_Score         0
dtype: int64

In [16]:
df2.dtypes

Customer_ID                 object
Industry                    object
Customer_Segment            object
Customer_Status             object
Country                     object
Age                          int64
Annual_Income              float64
Total_Spent                float64
Number_of_Orders             int64
Customer_Lifetime_Value    float64
Acquisition_Source          object
Marketing_Emails_Opened      int64
Website_Sessions             int64
Mobile_App_User               bool
Newsletter_Subscriber         bool
Referral_Count               int64
Churn_Risk_Score           float64
Net_Promoter_Score           int64
dtype: object

In [19]:
df2.duplicated().sum()

np.int64(0)

In [22]:
df1 = df1.drop_duplicates()